@page "{searchString?}"

@model IndexModel
@{
    ViewData["Title"] = "Modulo de Horas Extras BioAdmin";
    int item_number = 0;
}
<div class="container">
    <div class="row pt-4">
        <div class="col6">
            <h2 class="text-primary">GESTION HUMANA.</h2>
        </div>
        <!--Cuadro de Parametros de Fecha-->
        <div class="col-3 border" style="margin-bottom:5px;padding-bottom:10px">
            <form method="get">
                <strong>Parametros de Fecha:</strong>
                <br /><br />
                Fecha desde: <input class="form-control" asp-for="ToDate" />
                Fecha hasta: <input class="form-control" asp-for="FromDate" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="bi bi-cloud-download"></i> Cargar Datos</button>
                <br />
            </form>
        </div>
        <!--Tabla de registros de ponches-->
        <h1>Marcaje de Empleados</h1>
        <table id="TablePonches" class="cell-border compact stripe nowrap">
            <!--Encabezado de la tabla-->
            <thead>
                <tr>
                    <th>Registro Num.</th>
                    <th>Id. Empleado</th>
                    <th>Nombre del Empleado</th>
                    <th>Fecha y Hora Marca</th>
                    <th>Device Id.</th>
                    <th>Nombre del Dispositivo</th>
                    <th>Id Dpto.</th>
                    <th>Departamento</th>
                    <th>Index day</th>

                </tr>
            </thead>  
            <!--Detalle de tabla-->
            <tbody>
                @foreach(var item in Model.ListaPonches)
                {
                    item_number += 1;
                    <tr>
                        <td>
                            @item_number
                        </td>
                        <td>
                            @item.IdUser
                        </td>
                        <td>
                            @item.NameUser
                        </td>
                        <td>
                            @item.RecordTime
                        </td>
                        <td>
                            @item.IdDevice
                        </td>
                        <td>
                            @item.DeviceName
                        </td>
                        <td>
                            @item.IdDepartment
                        </td>
                        <td>
                            @item.DepartmentName
                        </td>
                        <td>
                            @item.Indexday
                        </td>
                    </tr>
                }  
            </tbody>
        </table>
    </div>
    <!-- Cuadro de las Horas Extras. -->
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12">
            <h1>Horas Extras Empleados</h1>
            <form method="post"> 
                <button type="submit" class="btn btn-danger" asp-page-handler="RunReports"><i class="bi bi-printer"></i> Reporte</button>
                <input type="radio" name="FormatoDoc" value="pdf" id="FormatoDoc" checked asp-for="FormatoDoc" /><label> Pdf</label>
                <input type="radio" name="FormatoDoc" value="excel" id="FormatoDoc" asp-for="FormatoDoc" /><label> Excel</label>
                <input type="radio" name="FormatoDoc" value="word" id="FormatoDoc" asp-for="FormatoDoc" /><label> Word</label>
            </form>
            
           
            
        </div/>
    </div>
</div>

<div class="container">
     <div class="row">
            <!-- Cuadro de horas extras -->
            
            <table id="TableHorasExtras" class="table table-bordered table-striped table-hover  compact nowrap" style="margin-top:10px">
                <!--Encabezado de la tabla-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id. Emp.</th>
                        <th>Nombre Empleado</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>M1</th>
                        <th>M2</th>
                        <th>M3</th>
                        <th>M4</th>
                        <th>Registros</th>
                        <th>Total Horas</th>
                        <th>Horas Extras</th>

                        
                    </tr>
                </thead> 
                <tbody>
                @{int row = 0;}
                @foreach(var item in Model.Jornadas)
                {
                    row += 1;
                    <tr>
                        <td>
                            @row
                        </td>
                        <td>
                            @item.IdUser
                        </td>
                        <td>
                            @item.Empleado
                        </td>
                        <td>
                            @item.Fecha.ToShortDateString()    
                        </td>
                        <td>
                            @item.ShiftName    
                        </td>
                        <td>
                            @item.Start_journal
                        </td>
                          <td>
                            @item.End_journal
                        </td>
                        <td>
                            @item.Mark1 
                        </td>
                        <td>
                            @item.Mark2 
                        </td>
                        <td>
                            @item.Mark3 
                        </td>
                        <td>
                            @item.Mark4 
                        </td>
                        <td>
                            @item.Ponches
                        </td>
                        <td>
                            @item.Horas_Jornada
                        </td>
                        <td>
                            he
                        </td>
                    </tr>
                }  
            </tbody>


            </table>
        </div>
</div>


@section Scripts
{
    <script>
        let table1 = new DataTable('#TablePonches');
        let table2 = new DataTable('#TableHorasExtras');
    </script>
    
}




   
        



