@page "{searchString?}"

@model IndexModel
@{
    ViewData["Title"] = "Modulo de Horas Extras BioAdmin";
    int item_number = 0;
}
<div class="container">
    <div class="row pt-4">
        <div class="col6">
            <h2 class="text-primary">Registro de Asistencia Empleados.</h2>
        </div>
        <!--Cuadro de Parametros de Fecha-->
        <div class="col-3 border" style="margin-bottom:5px;padding-bottom:10px">
            <form method="get">
                <strong>Parametros de Fecha:</strong>
                <br /><br />
                Fecha desde: <input class="form-control" asp-for="ToDate" />
                Fecha hasta: <input class="form-control" asp-for="FromDate" />
                <br />
                <button class="btn btn-primary" type="submit">Cargar Datos</button>
                <br />
            </form>
        </div>
        <!--Cuadro de Profile de Empleadp-->
        <div class="col-3 border" style="margin-bottom:5px;padding-bottom:10px;margin-left:5px;overflow-y: scroll;height:300px">
            <strong>Profile del Empleado:</strong>
            <!--Textbox de busqueda de empleado-->
           <form method="get">
                <input type="text" placeholder="Introduzca Id Usuario..." class="form-control my-2" value="@Model.IdEmployee" asp-for="@Model.IdEmployee" asp-route-id="@Model.IdEmployee" />
                <button class="btn btn-primary my-2" asp-page-handler="SearchProfileEmployee" type="submit">Buscar Datos Usuario</button>
           </form>
            
            <div class="list-group">
                <!--Lista de Horarios de Empleado-->
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">NOMBRE: @Model.NameEmployee</h5>
                    </div>
                </a>
                @foreach(var item in Model.HorariosAsignados){
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@item.Nombre</h5>
                        </div>
                        <p class="mb-1">Comienza: @item.Date_Start</p>
                        <p class="mb-1">Termina : @item.Date_Finish</p>
                    </a>   
                }
                <!--Cuadro de datos de empleado como sueldo y departamento-->
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Salario Hora:
                        <span class="badge bg-primary rounded-pill">@Model.Salario</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Departamento :
                        <span class="badge bg-primary rounded-pill">@Model.Departamento</span>
                    </li>

                </ul>
            </div>
        </div>
        <br/>
        <!--Tabla de registros de ponches-->
        <table id="TablePonches" class="cell-border compact stripe nowrap">
            <!--Encabezado de la tabla-->
            <thead>
                <tr>
                    <th>Registro Num.</th>
                    <th>Id. Empleado</th>
                    <th>Nombre del Empleado</th>
                    <th>Fecha y Hora Marca</th>
                    <th>Device Id.</th>
                    <th>Nombre del Dispositivo</th>
                    <th>Id Dpto.</th>
                    <th>Departamento</th>
                    <th>Tipo Horario</th>

                </tr>
            </thead>  
            <!--Detalle de tabla-->
            <tbody>
                @foreach(var item in Model.ListaPonches)
                {
                    item_number += 1;
                    <tr>
                        <td>
                            @item_number
                        </td>
                        <td>
                            @item.IdUser
                        </td>
                        <td>
                            @item.NameUser
                        </td>
                        <td>
                            @item.RecordTime
                        </td>
                        <td>
                            @item.IdDevice
                        </td>
                        <td>
                            @item.DeviceName
                        </td>
                        <td>
                            @item.IdDepartment
                        </td>
                        <td>
                            @item.DepartmentName
                        </td>
                        <td>
                            @item.Type_Shift
                        </td>
                    </tr>
                }  
            </tbody>
        </table>
    </div>
    <!-- Cuadro de las Horas Extras. -->
    <div class="row">
        <div class="col-md-12">
            <h1>Horas Extras Empleados</h1>
            <button class="btn btn-primary">Calcular</button>
            <button class="btn btn-info">Reporte</button>
            <button class="btn btn-danger">Exportar</button>
        </div/>
    </div>
</div>

<div class="container">
     <div class="row">
            <!-- Cuadro de horas extras -->
            
            <table id="TableHorasExtras" class="table table-bordered table-striped table-hover" style="margin-top:10px">
                <!--Encabezado de la tabla-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id. Emp.</th>
                        <th>Nombre Empleado</th>
                        <th>Fecha</th>
                        <th>M1</th>
                        <th>M2</th>
                        <th>M3</th>
                        <th>M4</th>
                        <th>Registros</th>
                        <th>Total Horas</th>
                        
                    </tr>
                </thead> 
                <tbody>
                @{int row = 0;}
                @foreach(var item in Model.jornadas)
                {
                    row += 1;
                    <tr>
                        <td>
                            @row
                        </td>
                        <td>
                            @item.IdUser
                        </td>
                        <td>
                            @item.Empleado
                        </td>
                        <td>
                            @item.Fecha.ToShortDateString()    
                        </td>
                        <td>
                            @item.Mark1 
                        </td>
                        <td>
                            @item.Mark2 
                        </td>
                        <td>
                            @item.Mark3 
                        </td>
                        <td>
                            @item.Mark4 
                        </td>
                        <td>
                            @item.Ponches
                        </td>
                        <td>
                            @item.Horas_Jornada
                        </td>
                    
                    </tr>
                }  
            </tbody>


            </table>
        </div>
</div>


@section Scripts
{
    <script>
        let table1 = new DataTable('#TablePonches');
        let table2 = new DataTable('#TableHorasExtras');
    </script>
    
}




   
        



